    <footer>
      <div class="container">
        <div class="row">
          <div class="col-sm-6">
          <p>Website built using: <strong>EmberJS</strong></p>
          </div>
          <div class="col-sm-6">
          <p>2016     KenIjiwoye.com</p> 
          <span>
           <a href="mailto:ken@kenijiwoye.com?Subject=Just%20A%20Question." target="_blank"><i class="fa fa-envelope" aria-hidden="true" style="padding: 0 15px;"></i></a>
           <a href="https://github.com/KenIjiwoye" target="_blank"><i class="fa fa-github" aria-hidden="true"></i></a>
          </span>
          </div>
        </div>
      </div>
    </footer>