    <nav class="navbar navbar-default">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#responsiveMenu" aria-expanded="false"><span>MENU</span></button>
          <a class="navbar-brand" href="/"><img src="/assets/images/ki-logo.png"></a>
        </div>
        <!-- MENU TOGGLE -->
        <div class="collapse navbar-collapse" id="responsiveMenu">
          <ul class="nav navbar-nav navbar-right">
            {{!-- <li><a href="/">Home</a></li> --}}
            <li>{{#link-to 'index'}}Home{{/link-to}} </li>
            <li>{{#link-to 'about'}}About{{/link-to}} </li>
            {{!-- <li><a href="https://ki-blog.herokuapp.com/">Blog</a></li> --}}
          </ul>
        </div>
      </div>
    </nav> 