<div id="recent-port">
	<div class="container">
		<div class="row">
			{{#each model as |project|}}
			<div class="col-sm-4" id="port-bg">
	            <a href="projects/batman.php"><img src="assets/images/thumbnails/bat-thumb.jpg" class="img-responsive center-block" width="100%"></a>
	            <a class="btn btn-default" href="projects/batman.php">{{project.title}} </a>
	        </div>
	        <div class="container">
	        	{{#link-to 'projects.edit' project.id class="btn btn-primary"}}Edit{{/link-to}}
	        	<button class="btn btn-danger" {{action 'deleteProject' project}} >Delete</button>
	        </div>
	        {{/each}}
		</div>
	</div>
</div>