    <div id="recent-works">
      <div class="container-fluid">
        <div class="row">
          <h3>New Project</h3>
        </div>
      </div>
    </div>

<div class="container">
<div class="form-horizontal">
    <div class="form-group">
        <label class="col-sm-2 control-label">Title</label>
        <div class="col-sm-10">
            {{input type="text" value=model.title class="form-control" placeholder="Project name"}}
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">Description</label>
        <div class="col-sm-10">
            {{#textarea type="text" value=model.description placeholder="Project details" rows="3" }}{{/textarea}}

            {{input type="text" value=model.address class="form-control" placeholder="Project details"}}
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">Images</label>
        <div class="col-sm-10">
            {{input type="text" value=model.image class="form-control" placeholder="Photos of work samples"}}
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-default" {{action 'saveProject' model}}>Add Project</button>
        </div>
    </div>
</div>
</div>

<style>
    textarea {
        width: 100%;
    }
</style>