<div id="work-banner">
    <div class="container">
        <h1>Batman Fan Site Concept</h1>
    </div>
</div>

<div class="container" id="work-content">
    <p>I was watching a classic Batman movie and got inspired to design a Batman fansite. Well, just the homepage atleast. lol
If I can make some more time I might just continue to build it completely into a functional web application, we'll see... <br> <br>
        <strong>Made with:</strong> Adobe Photoshop CC
    </p>
    <img src="/assets/images/bat-web-copy.jpg" class="img-responsive center-block" /> <hr>

    {{#link-to 'index' class="btn btn-default" id="return"}}Return to home{{/link-to}}
</div>