<div id="work-banner">
    <div class="container">
        <h1>Chitter</h1>
    </div>
</div>

<div class="container" id="work-content">
    <p>Ongoing personal project of creating a "Twitter-like" clone from scratch. View the source code on <a href="https://github.com/KenIjiwoye/chitter" target="_blank">Here</a> <br> <br>
        <strong>Made with:</strong> Ruby On Rails 4, Bootstrap, Font Awesome, and 3+ cups of Starbucks frappe.
    </p>
    <img src="/assets/images/chitter-1.jpg" class="img-responsive center-block" /> <br>
    <img src="/assets/images/chitter-2.jpg" class="img-responsive center-block" /> <hr>

    {{#link-to 'index' class="btn btn-default" id="return"}}Return to home{{/link-to}}
</div>