<div id="work-banner">
    <div class="container">
        <h1>Dream Home Landing Page</h1>
    </div>
</div>

<div class="container" id="work-content">
    <p>Sample Construction Landing Page with a Video Background <br> <br>
    <strong>Website:</strong><a target="_blank" href="http://artystikweb.com/samples/dream-home"> DreamHome</a> <br> <br>
        <strong>Made with:</strong> Adobe Photoshop CC and Bootstrap.
    </p>
    <img src="/assets/images/DH-min.png" class="img-responsive center-block" /> <br> <hr>

    {{#link-to 'index' class="btn btn-default" id="return"}}Return to home{{/link-to}}
</div>