<div id="work-banner">
    <div class="container">
        <h1>Gamefly Redesign Concept</h1>
    </div>
</div>

<div class="container" id="work-content">
    <p>So I was online researching info for a new project to work on and somehow landed on <strong>GameFly.com</strong> <br> <br>
    Although everything is organized and simple to navigate, I still wanted to try and see if I can revamp the site and make it look a bit more inviting... Below is the before and after design mockup for gamefly, I decided to go with a darker background to keep focus on the games and threw in a little bit of Google's new "Material Design"(or Google Design) approach... <br> <br>
        <strong>Made with:</strong> Adobe Photoshop CC
    </p>
    <img src="/assets/images/gamefly.png" class="img-responsive center-block" /> <hr>

    {{#link-to 'index' class="btn btn-default" id="return"}}Return to home{{/link-to}}
</div>