<div id="work-banner">
    <div class="container">
        <h1>Lipstick Riot</h1>
    </div>
</div>

<div class="container" id="work-content">
    <p>Coming Soon Landing Page with a Video Background <br> <br>
    <strong>Website:</strong><a target="_blank" href="http://lipstickriot.com"> LipStickRiot.com</a> <br> <br>
        <strong>Made with:</strong> Adobe Photoshop CC and Bootstrap.
    </p>
    <img src="/assets/images/lipstick-riot-sc.png" class="img-responsive center-block" /> <br> <hr>

    {{#link-to 'index' class="btn btn-default" id="return"}}Return to home{{/link-to}}
</div>