<div id="work-banner">
    <div class="container">
        <h1>Mikey AK</h1>
    </div>
</div>

<div class="container" id="work-content">
    <p>Artist landing page for Mikey AK from the DC-MD area.   <br> <br>
        <strong>Made with:</strong> Adobe Photoshop CC, Bootstrap, and JS.
    </p>
    <img src="/assets/images/mak-new.png" class="img-responsive center-block" /> <br> <hr>

    {{#link-to 'index' class="btn btn-default" id="return"}}Return to home{{/link-to}}
</div>