<div id="work-banner">
    <div class="container">
        <h1>Retro Brick Phones</h1>
    </div>
</div>

<div class="container" id="work-content">
    <p>RetroBrickPhones is a company in the business of selling vintage cellphones with a modern twist. Popular amongst the 90s era, nostalgic individuals.
    This also happens to be an ongoing project that I am involved with. It was a small idea that grew to a level where we're gaining national recognition and celebrity sponsors. #brickphoneflexin<br> <br>
        <strong>Made with:</strong> Adobe Photoshop CC, Bootstrap, and Shopify. (Google's Material Design Inspired.)
    </p>
    <img src="/assets/images/rbp-capture.png" class="img-responsive center-block" /> <hr>

    {{#link-to 'index' class="btn btn-default" id="return"}}Return to home{{/link-to}}
</div>