<div id="work-banner">
    <div class="container">
        <h1>Task Keeper</h1>
    </div>
</div>

<div class="container" id="work-content">
    <p>Simple Task management app similar to Google Keep. View the working app <a href="https://task-keeper1.herokuapp.com/" target="_blank">Here</a> <br> <br>
        <strong>Made with:</strong> Ruby On Rails 4, Bootstrap
    </p>
    <img src="/assets/images/tk-1.jpg" class="img-responsive center-block" /> <br>
    <img src="/assets/images/tk-2.jpg" class="img-responsive center-block" /> <hr>

    {{#link-to 'index' class="btn btn-default" id="return"}}Return to home{{/link-to}}
</div>