<div id="work-banner">
    <div class="container">
        <h1>Totalfit Landing Page</h1>
    </div>
</div>

<div class="container" id="work-content">
    <p>LeadGen mockup for a simple fitness membership. <br> <br>
        <strong>Made with:</strong> Adobe Photoshop CC
    </p>
    <img src="/assets/images/totalfit-lander.jpg" class="img-responsive center-block" /> <hr>

    {{#link-to 'index' class="btn btn-default" id="return"}}Return to home{{/link-to}}
</div>