<div id="work-banner">
    <div class="container">
        <h1>We Made Clouds</h1>
    </div>
</div>

<div class="container" id="work-content">
    <p>Artist landing page for the mixtape release of, "We Made Clouds". The project also included a small shop for merchandise related to the music project.   <br> <br>
        <strong>Made with:</strong> Adobe Photoshop CC, Bootstrap, and Paypal.
    </p>
    <img src="/assets/images/wmc-lander.png" class="img-responsive center-block" /> <br> <hr>

    {{#link-to 'index' class="btn btn-default" id="return"}}Return to home{{/link-to}}
</div>