    <div id="about-banner">
        <div class="container">
            <div class="row">
                <h1>About Me</h1>
            </div>
        </div>
    </div>
    
    <div id="about-content">
        <div class="container">
            <div class="row">
                <div class="col-sm-3 col-sm-offset-3">
                    <img src="assets/images/File_000.jpeg" class="img-responsive img-rounded center-block" style="max-height: 300px; margin-bottom: 20px;">
                </div>
                <div class="col-sm-6" style="padding-bottom: 5%;" >
                    
                    <p>Hi there! <br>
                    I'm Kenyada Ijiwoye and I am a Frontend Software Developer! <br>
                    I am profient in HTML, CSS, JAVASCRIPT, and a multitude of web framworks including Bootstrap and Ionic. <br>
                    I also have fundamental working knowledge on Full-Stack Engineering applications such as, Ruby on Rails, LAMP stack, and MEAN stack. <br>
                    I've been designing and programming for over 8 years now with 5 of those years professionally. I have a love for anything tech and internet-related! <br>
                    I am also in the process of renewing my Google Adwords certificate, YES, that means i also do online marketing (3yrs professionally). <br>
                    Hm, what else... <br>
                    Ok well, I'm a self-starter, driven by knowledge and achieving personal, as well as professional accomplishments. <br>
                    In my free time, i enjoy, well... programming of course!! :-) <br>
                    But also I am an avid digital painter, i enjoy music ( i am a musician ;-)), and I love sharing the knowledge I've gained over the years to help others like myself excel in this forever-growing industry. <br>
                    My future plans would include jumping into the world of machine learning and A.I. 
                    </p>
                </div>
            </div>
        </div>
    </div>