    <!-- HERO SECTION -->
    <div id="hero">
      <div class="container">
        <h4>"Innovation is creativity with a job to do."</h4>
        <h1>KEN IJIWOYE</h1>
        <h4>Software Developer</h4>
      </div>
    </div>

    <!-- RECENT WORKS -->
    <div id="recent-works">
      <div class="container-fluid">
        <div class="row">
          <h3>Recent Works</h3>
        </div>
      </div>
    </div>
    {{outlet}}
    <!-- recent header -->
    <div id="recent-port">
      <div class="container">
        <div class="row">
          <div class="col-sm-4" id="port-bg">
            {{#link-to 'works.dream-home'}} <img src="assets/images/thumbnails/DH-thumb.png" class="img-responsive center-block" width="100%"> {{/link-to}}
            {{#link-to 'works.dream-home' class="btn btn-default"}}Dream Home Landing Page{{/link-to}}
          </div>
          <div class="col-sm-4" id="port-bg">
            {{#link-to 'works.lipstick-riot'}} <img src="assets/images/thumbnails/lr-thumb.jpg" class="img-responsive center-block" width="100%"> {{/link-to}}
            {{#link-to 'works.lipstick-riot' class="btn btn-default"}}Lipstick Riot Coming Soon{{/link-to}}
          </div>
          <div class="col-sm-4" id="port-bg">
            {{#link-to 'works.batman'}} <img src="assets/images/thumbnails/bat-thumb.jpg" class="img-responsive center-block" width="100%"> {{/link-to}}
            {{#link-to 'works.batman' class="btn btn-default"}}Batman Fan Site Concept{{/link-to}}
          </div>
          <div class="col-sm-4" id="port-bg">
            {{#link-to 'works.gamefly'}} <img src="assets/images/thumbnails/gamefly-thumb.jpg" class="img-responsive center-block" width="100%"> {{/link-to}}
            {{#link-to 'works.gamefly' class="btn btn-default"}}Gamefly Redesign Concept{{/link-to}}
          </div>
          <div class="col-sm-4" id="port-bg">
            {{#link-to 'works.totalfit'}} <img src="assets/images/thumbnails/totalfit-thumb.jpg" class="img-responsive center-block" width="100%"> {{/link-to}}
            {{#link-to 'works.totalfit' class="btn btn-default"}}Totalfit Landing Page{{/link-to}}
          </div>
          <div class="col-sm-4" id="port-bg">
            {{#link-to 'works.rbp'}} <img src="assets/images/thumbnails/rbp-thumb.jpg" class="img-responsive center-block" width="100%"> {{/link-to}}
            {{#link-to 'works.rbp' class="btn btn-default"}}RetroBrickPhones.com{{/link-to}}            
          </div>
          <div class="col-sm-4" id="port-bg">
            {{#link-to 'works.taskkeeper'}} <img src="assets/images/thumbnails/taskkeeper-thumb.jpg" class="img-responsive center-block" width="100%"> {{/link-to}}
            {{#link-to 'works.taskkeeper' class="btn btn-default"}}Task Keeper{{/link-to}}            
          </div>
          <div class="col-sm-4" id="port-bg">
            {{#link-to 'works.chitter'}} <img src="assets/images/thumbnails/chitter-thumb.jpg" class="img-responsive center-block" width="100%"> {{/link-to}}
            {{#link-to 'works.chitter' class="btn btn-default"}}Chitter{{/link-to}}
          </div>
          <div class="col-sm-4" id="port-bg">
            {{#link-to 'works.wmc'}} <img src="assets/images/thumbnails/wmc-thumb.jpg" class="img-responsive center-block" width="100%"> {{/link-to}}
            {{#link-to 'works.wmc' class="btn btn-default"}}We Made Clouds{{/link-to}}
          </div>
          <div class="col-sm-4" id="port-bg">
            {{#link-to 'works.mak'}} <img src="assets/images/thumbnails/mak-thumb.jpg" class="img-responsive center-block" width="100%"> {{/link-to}}
            {{#link-to 'works.mak' class="btn btn-default"}}Mikey AK{{/link-to}}
          </div>
          <div class="col-sm-4" id="port-bg">
            <a href="#"><img src="assets/images/thumbnails/fashionceesta-thumb.jpg" class="img-responsive center-block" width="100%"></a> 
            <a class="btn btn-default" href="#">Fashionceesta - Logo Design</a>
          </div>
          <div class="col-sm-4" id="port-bg">
            <a href="#"><img src="assets/images/thumbnails/s4u-thumb.jpg" class="img-responsive center-block" width="100%"></a> 
            <a class="btn btn-default" href="#">Styles 4 U - Logo Design</a>
          </div>
        </div>
      </div>
    </div>