<!-- HERO SECTION -->
<div id="hero">
  <div class="container">
    <h1>PROJECTS</h1>
  </div>
</div>
<!-- RECENT WORKS -->
<div id="recent-works">
  <div class="container-fluid">
    <div class="row">
      <h3>Recent Works</h3>
    </div>
  </div>
</div>

{{outlet}}
